alias ll='ls -al'
alias la='ls -A'
alias l='ls -CF'

alias v='gvim > /dev/null 2>&1'

alias 'ps?'='ps -ef | grep -i '
alias 'ant?'='ant -p | grep -i'
alias 'file?'='find . | grep -i'

alias g='git'
alias ga='git add -A'
alias gb='git branch -a'
alias gc='git commit -v'
alias gca='git commit -a -v'
alias gco="git checkout"
alias gd='git diff'
alias gds='git diff --staged'
alias gdc='git diff --staged --checked'
alias gdh='git diff HEAD'
alias gsh='git push'
alias gll='git pull'
alias gpr='git pull --rebase'
alias gst='git status -sb'
alias gap='git add -p'
alias grc='git rebase --continue'
alias gfa='git fetch --all'
alias gw='git branch -a --contains'
alias gld='git log --decorate --oneline'

alias sudo="sudo "
