VISUAL=vim
EDITOR="$VISUAL"
GEM_OPEN_EDITOR="gvim"

LESS="FRX"
RI="--format ansi -T"

CLICOLOR=1
LSCOLORS=gxgxcxdxbxegedabagacad

HISTCONTROL=erasedups
HISTSIZE=9999

TERM=screen-256color-bce

export VISUAL EDITOR GEM_OPEN_EDITOR LESS RI CLICOLOR LSCOLORS SCREEN
